    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

:root{
    --primary-color: #003049;
    --secondary-color: #669BBC;
    --accent1-color: #FDF0D5;
    --accent2-color: #C1121F;

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Monteserrat', serif;

    --nav-background-color: #780000;
    --nav-link-color: #FDF0D5;
    --nav-hover-link-color: #FDF0D5;
    --nav-hover-background-color: #C1121F;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.hero h1{
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    position: absolute;
    background-color: var(--nav-background-color);
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
}

h2, h3, h4, h5 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 100px;
}

.hero p {
    color: var(--accent1-color);
}

.hero {
	position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    
    
}


.hero article img {
    width: 150px;
    height: auto;
    float: right;
    top: 50px;
	right: 0px;
}

.stats {
	position: absolute;
    left: 100px;
	top: 100px;
	right: 100px;
	background-color: var(--primary-color);
	padding: 0.65rem;
	opacity: 0.8;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}



nav {
	text-align: right;
    background-color: var(--nav-background-color);
}

.navigation {
	display: flex;
	list-style: none;
    background-color: var(--nav-background-color);
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--accent1-color);
	padding: 20px;
	text-decoration: none;
   

}

.navigation a:hover {
	color: var(--secondary-color);
	font-weight: 700;
	text-decoration: underline;
}

.history {
    display: flex;
    justify-content: space-between;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: right;
}

ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

.contact h1 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.contact {
   text-align: center;
   margin-top: 100px;
    
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align:  center;
}

.contact h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}



form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color:var(--secondary-color);
    display: grid;
}


input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

 button {
    margin: 1rem;
    background-color: var(--nav-hover-background-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;
}

button:hover {
    background-color: var(--nav-background-color);
}

label {
   font-size: var(--heading-font);
   text-align: left;
   font-weight: bold;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    font-style: italic;
}

.submit{
    font-size: var(--heading-font);
    text-align: center;
    font-style: oblique;
}
